<h1>Olá, {{nome}}!</h1>
<p>Aqui estão algumas informações sobre o seu serviço.</p>
<table>
  <thead>
    <th>Serviço realizado</th>
    <th>Data do serviço</th>
    <th>Data prevista para o próximo serviço</th>
  </thead>
  <tbody>
    <tr>
      <td>{{servico}}</td>
      <td>{{data_servico}}</td>
      <td>{{data_servico_futuro}}</td>
    </tr>
  </tbody>
</table>

<p>Telefone para contato: (85) 9 9603-4211</p>
<p>Email para contato: <a href="mailto:welitondomingoswr@gmail.com">welitondomingoswr@gmail.com</a></p>

<p>Obrigado pela escolha e confiança no meu trabalho! Tenha uma ótima semana.</p>
